.home-sec3{
background: url(../img/home-img/search-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
    .home-sec3-top{
        padding: 60px 0;
        background: rgba(45, 44, 44, 0.6);
        .container{
            @include flexCenter();
            gap: 20px;
            @media screen and (max-width: 991px) {
            .search{
                width: 25%;
            }
            }
            .form-select ,.form-control ,span{
            background-color: #585d6b;
            border-radius: 0;
            border-color: #666b7a;
            box-shadow: none;
            margin: 0;
            color: #ccd5e8;
            font-family: $font-roboto;
            }
            label{
             color: white;
             margin-bottom: 20px;
             font-family: $font-poppins;
             font-weight: 700;
             font-size: 14px;
            }
            button{
                @extend %button-square ;
                padding: 11px ;
                margin-top: 35px;
            }
            .keywords{
                .input-group{
                    span{
                    border-left: none;
                    }
                    input{
                        border-right: none;
                    }
                }
            }
        }
    }
    .home-sec3-bottom{
    padding: 50px 0;
        .home-sec3-bottom-text{
            @include flexLeft();
            padding: 20px 0;
            h3{
                font-size:29px ;
                font-family: $font-poppins;
                color: white
            }
            a{
                font-size:15px ;
                color:#bdd4ff;
                margin-bottom: 0;
                span{
                padding: 0 20px;
                font-size: 29px;
                }
            }
            
        }
        .home-sec3-bottom-card{
            .row{
                .owl-slider{
                    .owl-carousel{
                        .item{
                            .card{
                            border-radius: 0;
                            border: none;
                                .card-body{
                                    @include  onlyFlexColumn();
                                    padding: 30px 20px;
                                    border: none;
                                    .about{
                                        @include flexSpaceBetween();
                                        a{
                                            color: black;
                                            font-weight: 900;
                                            font-family: $font-poppins;
                                        }
                                        .price{
                                        p{
                                            color: #5f5f5f;
                                            margin-left: 30px;
                                            text-decoration-line: line-through;
                                        }
                                        h1{
                                            font-size: 28px;
                                            color: $text-dark;
                                            font-weight: 900;
                                        }
                                    }
                                    }
                                    .time{
                                        @include flexLeft();
                                        gap: 10px;
                                        i{
                                            color: rgb(68, 68, 221);
                                        }
                                        p{
                                            color: #5f5f5f;
                                        }
                                    }
                                    .star-icon{
                                    display: flex;
                                        i{
                                            color: orange;
                                        }
                                        p{
                                            color: #8f8f8f;
                                        }
                                    }
                                }
                            }
                        }
                    }   
                }
            }
        }
    }
}
