.home-sec2{
    background: linear-gradient(0.25turn, #4690e7, $text-dark);
    .container{
    padding: 60px 0;
        .row{
            .col{
                @include flexGap();
                h6{
                    font-size: 14px;
                    font-family: $font-poppins;
                    color: white;
                    line-height: 1.55;
                    font-weight: 900 !important;
                }
                p{
                    font-size: 14px;
                    font-family: $font-poppins;
                    color: $text-pColor;
                    font-weight: 400 ;
                }
            }
        }
    }
}