.home-sec1{
    .carousel{
        .carousel-inner{
            .carousel-item{
                animation: fadeIn 3s;
                @keyframes fadeIn {
                    0% { opacity: 0; }
                    100% { opacity: 1; }
                }
                .carousel-caption{
                    .row{
                        .col{
                                @include flexColumn();
                                gap: 20px;
                                animation-duration: 3s;
                                animation-name: slidein;
                                animation-iteration-count: 1;
                                @keyframes slidein {
                                    from {
                                      margin-left: 150%;
                                      width: 300%;
                                    }
                                  
                                    to {
                                      margin-left: 0%;
                                      width: 100%;
                                    }
                                  }
                                 
                            span{
                                font-size: 74px ;
                                font-family:  $font-dancing;
                                font-weight:bolder !important;
                                color: white;
                            }
                            h1{
                                color: $text-pColor;
                                font-family: $font-poppins;
                                font-size: 41px;
                                font-weight: 900 ;
                            }
                            h6{
                                font-size: 16px;
                                font-family: $font-poppins;
                                color: #dae5ff;
                                
                            }
                            h2{
                                font-family: $font-poppins;
                                font-size: 41px;
                                font-weight: 900 ;
                            }
                            .learnmore{
                                @extend %button-square;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .col{
    gap: 10px;
    span{
        font-size: 35px  !important;
       }
       h1{font-size: 25px;}
       
    }
    
} 