
.tourMaster-container{
    font-family: $font-poppins;
    padding-left: 350px;
    width: 80%;
    padding-top: 100px;
    @include onlyFlexColumn();
    .navbar-tourmaster {
        .search_box{
            width: 25%
        }
        .searchforName{
            @extend %button-oval;
            width: 15%;
        }
        .filterforDate{
            @extend %button-oval;
            width: 15%;
        }
    }
    .Users-AdminPanel{
        .tourmaster-title{
            padding: 30px 40px;
            width: 100%;
            font-size: 25px;
            color: #8f8f8f;
        }
        .action{
            a{
                padding: 2px;
                border: 1px solid #6d97df ;
                background:#6d97df ;
                i{
                    color: white;
                }
            }
        }
    }
}