$font-poppins:'Poppins', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-dancing: 'Dancing Script', cursive;
$text-dark: #467fe7;
$text-icon:#468ae7;
$text-light:#bdd4ff;
$bg-color-input: #585d6b;
$price-sales: #e85e34;
$card-hover: rgba(0,0,0,0.6);
$text-pColor: #b9cdf3;
$button-color:#4692e7;
$button-hover-color:#0693e3;
$input-pColor:#8c8c8c;