/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;800;900&family=Roboto:wght@300&display=swap");
* {
  text-decoration: none;
}

a {
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0 auto;
  padding: 0;
}

.home-sec3 .home-sec3-top .container button, .home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col .learnmore {
  padding: 20px 32px;
  font-size: 13px;
  color: white;
  border-color: transparent;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  background-color: #4692e7;
}
.home-sec3 .home-sec3-top .container button:hover, .home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col .learnmore:hover {
  background-color: #0693e3;
}

header {
  width: 100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  z-index: 3;
}
header .header-top {
  padding: 20px 0;
}
header .header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top .container .header-top-left {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
header .header-top .container .header-top-left a {
  color: white;
}
header .header-top .container .header-top-left a span {
  padding-left: 10px;
}
header .header-top .container .header-top-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
header .header-top .container .header-top-right a {
  color: white;
}
header .header-top .container .header-top-right a i {
  color: #468ae7;
}
header .header-top .container .header-top-right a span {
  padding-left: 10px;
}
header .header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 5px;
}
header .header-bottom .container nav .allUl {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
header .header-bottom .container nav .allUl li .allA {
  color: white;
  font-family: "Roboto", sans-serif;
  position: relative;
  transition: 0.4s;
}
header .header-bottom .container nav .allUl li .allA::before {
  content: "";
  position: absolute;
  display: none;
  background-color: #467fe7;
  width: 100%;
  height: 3px;
  z-index: 4;
  bottom: -38px;
}
header .header-bottom .container nav .allUl li .allA:hover::before {
  display: block;
}
header .dropdown-toggle::after {
  display: none;
}
header .dropdown:hover > .dropdown-menu {
  display: block;
  top: 23px;
  padding: 10px;
  border-radius: 0;
  border-color: rgb(46, 46, 46);
  background-color: rgb(46, 46, 46);
}
header .dropdown:hover > .dropdown-menu li a {
  padding: 10px;
  color: white;
}
header .dropdown:hover > .dropdown-menu li a:hover {
  background-color: grey;
}
header > .dropdown-toggle:active {
  pointer-events: none;
}

.home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col span {
  font-size: 74px !important;
  font-family: "Dancing Script", cursive;
  font-weight: bolder !important;
  color: white;
}
.home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col h1 {
  color: #b9cdf3;
  font-family: "Poppins", sans-serif;
  font-size: 41px;
  font-weight: 900;
}
.home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col h6 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #dae5ff;
}
.home-sec1 .carousel .carousel-inner .carousel-item .carousel-caption .row .col h2 {
  font-family: "Poppins", sans-serif;
  font-size: 41px;
  font-weight: 900;
}
.home-sec2 {
  background: linear-gradient(0.25turn, #4690e7, #467fe7);
}
.home-sec2 .container {
  padding: 60px 0;
}
.home-sec2 .container .row .col {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.home-sec2 .container .row .col h6 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 1.55;
  font-weight: 900 !important;
}
.home-sec2 .container .row .col p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #b9cdf3;
  font-weight: 400;
}

.home-sec3 {
  background: url(../img/home-img/search-bg.jpg);
}
.home-sec3 .home-sec3-top {
  padding: 60px 0;
  background: rgba(45, 44, 44, 0.6);
}
.home-sec3 .home-sec3-top .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home-sec3 .home-sec3-top .container .form-select, .home-sec3 .home-sec3-top .container .form-control {
  background-color: #585d6b;
  border-radius: 0;
  border-color: #666b7a;
  box-shadow: none;
  margin: 0;
}
.home-sec3 .home-sec3-top .container label {
  color: white;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.home-sec3 .home-sec3-top .container button {
  padding: 12px;
}/*# sourceMappingURL=main.css.map */