.tourFullFist-sidebar{
    background-color: rgb(240,240,240);
    padding: 100px 0;
   .container{
   display: flex;
   gap: 30px;
    .tourFullList-sidebar-left{
            display:  flex;
            gap: 50px;
            flex-direction: column;
            .sidebar-carda{
                background-color: white;
                @include flexCenter();
                gap: 20px;
                margin-bottom: 30px;
                .carda-img{
                    img{
                        width: 170px;
                        height: 230px;
                    }
                }
                .carda-body{
                    display: flex;
                    padding: 10px 4px;
                    .carda-body-left{
                        @include onlyFlexColumn();
                        // padding-right: 5px;
                        a{
                            font-size: 25px;
                            color: black;
                            font-family: $font-poppins;
                            font-weight: 500;
                        }
                        p{
                            color: $text-pColor;
                            font-size: 15px;
                            i{
                                color: $text-dark;
                                margin-right: 10px;
                            }
                        }
                    }
                    .carda-body-right{
                        border-left: 2px solid $text-pColor ;
                        padding: 30px 20px;
                        @include onlyFlexColumn();
                        p{
                            color: $text-pColor;
                            font-size: 18px;
                            
                        }
                        h3{
                            color: black;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .button{
                            position: relative;
                            padding: 15px 28px;
                            background: $text-dark;
                            font-size: 17px;
                            font-weight: 500;
                            color: #181818;
                            border: 1px solid #FEC195;
                            border-radius: 8px;
                            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
                            &:hover {
                                border: 1px solid #f3b182;
                                background: linear-gradient(85deg,$text-dark, #fabd92, #fac097, $text-dark);
                                animation: wind 2s ease-in-out infinite;
                                }
                                &:hover .icon-1 {
                                    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
                                    transform: rotate(10deg);
                                    }
                                    
                                    &:hover .icon-2 {
                                        animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
                                        transform: rotate(0);
                                        }
                            &:hover .icon-3 {
                                animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
                                transform: rotate(0);
                                }
                            }
        
                        @keyframes wind {
                            0% {
                            background-position: 0% 50%;
                            }
                            0% {
                            background-position: 50% 100%;
                            }
                            0% {
                            background-position: 0% 50%;
                            }
                            }
                        .icon-1 {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 25px;
                            transform-origin: 0 0;
                            transform: rotate(10deg);
                            transition: all .5s ease-in-out;
                            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
                        }
                            @keyframes slay-1 {
                            0% {
                                transform: rotate(10deg);
                            }
                            50% {
                              transform: rotate(-5deg);
                            }
                            100% {
                              transform: rotate(10deg);
                            }
                          }
                        .icon-2 {
                            position: absolute;
                            top: 0;
                            left: 25px;
                            width: 12px;
                            transform-origin: 50% 0;
                            transform: rotate(10deg);
                            transition: all 1s ease-in-out;
                            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
                        }
                            @keyframes slay-2 {
                            0% {
                                transform: rotate(0deg);
                            }
                            50% {
                              transform: rotate(15deg);
                            }
                            100% {
                              transform: rotate(0);
                            }
                          }
                            .icon-3 {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 18px;
                            transform-origin: 50% 0;
                            transform: rotate(-5deg);
                            transition: all 1s ease-in-out;
                            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
                          }
                          @keyframes slay-3 {
                            0% {
                              transform: rotate(0deg);
                            }
                          
                            50% {
                              transform: rotate(-5deg);
                            }
                          
                            100% {
                              transform: rotate(0);
                            }
                          }
                    }
                }
            }
            .hidden {
                display: none;
              }
              .pagination-container {
                width:300px ;
                display: flex;
                justify-content: center;
                border-radius: 50%;
                padding: 1rem 0;
                justify-content: center;
            }
            .pagination-number,.pagination-button {
                font-size: 1.1rem;
                background-color: #8f8f8f;
                border: 50%;
                border-color: #8f8f8f;
                margin: 0.25rem 0.25rem;
                cursor: pointer;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
            }
            .pagination-number:hover,.pagination-button:not(.disabled):hover {
                background: #fff;
            }
            .pagination-number {
                &.active {
                    color: #fff;
                    background: $text-dark;
                }
            }
        
    }
    .tourFullList-sidebar-right{
        @include onlyFlexColumn();
        .latest-tours{
            font-family: $font-poppins;
            @include onlyFlexColumn();
            h2{
                font-family: $font-poppins;
                color: black;
                font-size: 17px;
                font-weight: 700;
            }
            .tour-widget{
                display: flex;
                gap: 10px;
                padding-bottom: 20px;
                border-bottom: 1px solid #c0b7b7;
                .tour-widget-right{
                    font-family: $font-poppins;
                    p{
                    color: #8f8f8f;
                    margin: 10px ;
                    }
                    h6{
                        font-weight: 600;
                    }
                    
                }
                }
        }
        .get-a-question{
            background: url("../img/gallery-img/widget-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include onlyFlexColumn();
            font-family: $font-poppins;
            padding: 40px 5px 40px 10px;
            span{
                color: orange;
            }
            p{
                color: #aba6a6;
                line-height: 25px;
            }
            h2{
                font-weight: 700;
                font-size: 17px;
                color: white;
            }
        }
        .tour-category{
        @include onlyFlexColumn();
        padding: 10px 0;
            h2{
                font-family: $font-poppins;
                color: black;
                font-size: 17px;
                font-weight: 700;
            }
            a{
                color: black;
                font-family: $font-poppins;
                padding: 0 0 20px 10px;
                border-bottom: 1px solid #cdc9c9;
                width: 250px;
            }
        }
        .recent-articles{
        @include onlyFlexColumn();
            h2{
                font-family: $font-poppins;
                color: black;
                font-size: 17px;
                font-weight: 700;
            }
            .recent-articles-content{
                display: flex;
                gap: 10px;
                margin-bottom: 10px;
                .recent-articles-right{
                    @include onlyFlexColumn();
                    a{
                        font-size: 19px;
                        font-family: $font-poppins;
                        font-weight: 500;
                    }
                    .recent-articles-right-text{
                    display: flex;
                    gap: 8px;
                        i,p{
                        color: #8f8f8f;
                        font-size: 14px;
                        }
                    }
                }
            }
        }
    }
   }
}