.detail-wrapper-about{
    background: url("../img/teamdetail-img/section-bg-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 250px 0;
}