.detail-wrapper-biography{
    .container{
    display: flex;
    p{
        color: #8c8c8c;
    }
        .biography{
            padding: 100px 130px 100px 0;
            @include onlyFlexColumn();
            p{
            line-height: 23px;
            }
        }
        .skill{
            padding: 100px 0 ;
            @include onlyFlexColumn();
            .col-12{
                @include onlyFlexColumn();
                .content{
                    @include flexSpaceBetween();
                    p{
                        i{
                        margin-left: 10px;
                        }
                    }
                }
                .line{
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                }
                .photography{
                    background: linear-gradient(90deg, rgba(0,0,0,1) 90%, rgba(244,244,244,1) 90%);
                }
                .animation{
                    background: rgba(0,0,0,1) 100%;
                }
                .codingSkill{
                    background: linear-gradient(90deg, rgba(0,0,0,1) 85%, rgba(244,244,244,1) 85%);
                }
                .wordpress{
                    background: linear-gradient(90deg, rgba(0,0,0,1) 70%, rgba(244,244,244,1) 70%);
                }
            }
        }
        .chronology{
            padding: 100px 0;
            @include onlyFlexColumn();
            
            p{
            margin-bottom: 20px;
            }
        }
    }
}