
        .contact-AdminPanel{
        padding: 200px 0 200px 250px;
        .tourmaster-title{
          padding: 30px 40px;
          width: 100%;
          font-size: 25px;
          color: #8f8f8f;
      }
          }
